<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Control</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<body>
    <h1>Server Control</h1>
    <div id="output"></div>
    <div id="status">Server status: <span id="server-status">Unknown</span></div>
    <button onclick="startServer()">Start Server</button>
    <input type="text" id="command" placeholder="Enter command">
    <button onclick="sendCommand()">Send Command</button>

    <h3>Most used commands:</h3>
    <ul>
        <li><strong>/stop</strong> - Stops the server after it's done initializing</li>
        <li><strong>/list</strong> - Lists the players logged on</li>
        <li><strong>/kill @e[type]</strong> - Kills the entity of type "type" (type is of format modpack:entity)</li>
        <li><strong>/op or /deop</strong> - Makes/Unmakes player admin</li>
        <li><strong>/kick [name] [reason]</strong> - Kicks player [name] for [reason]</li>
    </ul>

    <button onclick="window.location.href='/stats'"> Catan scoreboard </button>

    <script>
        function updateStatus(serverRunning) 
        {
            const statusElement = document.getElementById('server-status');
            statusElement.innerText = serverRunning ? 'Running' : 'Stopped';
        }

        function startServer() 
        {
            fetch('/start_server', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    updateStatus(data.server_running);
                });
        }

        function stopServer() 
        {
            fetch('/stop_server', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    updateStatus(data.server_running);
                });
                document.getElementById("output").innerHTML = "";
        }

        function sendCommand() 
        {
            const command = document.getElementById('command').value;
            fetch('/send_command', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `command=${command}`
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    updateStatus(data.server_running);
                });
        }

        const eventSource = new EventSource('/stream_output');
        eventSource.onmessage = function (event) {
            const data = JSON.parse(event.data);
            const output = document.getElementById('output');
            output.innerHTML = data.output.join('<br>');
            output.scrollTop = output.scrollHeight;
            updateStatus(data.server_running);
        };
    </script>
</body>

</html>
