<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" context="width=device-width, initial-scale=1.0"/>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
        <title>Login</title>
    </head>

    <body>
        <h1>Login</h1>
        <form method="POST" action="{{url_for('login')}}">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
            <button type="submit">Login</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li> {{message}} </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>